<div class="nav">
  <div class="ui container">
    <div class="brand">DjangoData Inc.</div>
  </div>
  <div class="ui container secondary pointing menu">
    <a href="/" class="item">Home</a>
    <a href="/performance" class="item">Performance</a>
    <a href="#" class="item">Sales</a>
    <a href="#" class="item">Customers</a>
    <a href="/add" class="item">Add records</a>
    <a href="#" class="item">Upload file</a>
    <div class="right menu">
      <a href="#" class="item">Login</a>
    </div>
  </div>
</div>