{% extends '_base.html' %}
{% block title %}Products{% endblock title %}

{% block content %}

{% if not df.empty %}
  {{ df.to_html | safe }}
{% endif %}

{% if messages %}
  {% for message in messages %}
    <div class="ui icon message {{message.alert_level }}">
      <i class="{{ message.icon }} icon"></i>
      <i class="close icon"></i>
      <div class="content">
        <div class="header">{{ message.title }}</div>
        <p>{{ message.text }}</p>
      </div>
    </div>
  {% endfor %}
{% endif %}

<div class="ui huge header">Performance Dashboard</div>

<div class="ui modal">
  <div class="header">Statistics</div>
  <div class="content">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Average Price of Sale</th>
        <th>Std Dev of Sale Price</th>
        <th>Median Price of Sale</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>${{ price.mean | floatformat:2 }}</td>
        <td>${{ price.std | floatformat:2 }}</td>
        <td>${{ price.median | floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="ui centered card">
  <div class="content">
    <form action="" method="POST" class="ui form">
    {% csrf_token %}
      <div class="three fields">
        <div class="ui field">
            <label><i class="chart area icon"></i>Choose a chart type:</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="sales">
                <i class="dropdown icon"></i>
                <div class="default text">-----</div>
                <div class="menu">
                    <div class="item" data-value="bar">Bar Plot</div>
                    <div class="item" data-value="line">Line Plot</div>
                    <div class="item" data-value="count">Count Plot</div>
                </div>
            </div>
          </div>
          <div class="field">
            <label for=""><i class="calendar outline icon"></i>Start Date</label>
            <input type="date" name="date_from" placeholder="Start Date">
          </div>
          <div class="field">
            <label for=""><i class="calendar outline icon"></i>End Date</label>
            <input type="date" name="date_to" placeholder="End Date">
          </div>
      </div>
      <button type="submit" class="ui primary button">Submit</button>
    </form>
  </div>
</div>

{% if request.POST %}
  <div class="ui centered card">
    <div class="image">
      {% if graph %}
        <img src="data:image/png;base64, {{ graph | safe }}" alt="">
      {% endif %}
    </div>
    <div class="ui bottom attached button" id="modal-btn">
      <i class="info icon"></i>
      See Statistics
    </div>
  </div>
{% else %}
  <div class="ui placeholder segment">
    <div class="ui header">Select a chart type above to display sales data</div>
  </div>
{% endif %}

{% endblock content %}